.object{
    display: flex;
    justify-content:space-between ;
    margin-left: 15%;
    margin-right: 15%;
    align-items: center;
    text-align: center;
    height: 800px;
    margin-bottom: 150px;
}

.container {
    display: flex;
    align-items: center;
    margin: 0;
    flex-direction: column;
}

.object h3 {
    font-family: rubik;
    display: flex;
    justify-content: center;
    font-size: 60px;
    color: red;
    margin-bottom: 2rem;
    width: 400px;
}

.description-me spam {
    border-bottom: solid 1px red;

}

.description-me {
    font-size: 25px;
    font-family: open sans;
    height: 350px;
    width: 350px;
    min-width: 200px;
    margin: 3rem;
}

@media screen and (max-width: 1000px) {

    .object{
        display: flex;
        flex-direction: column;
        margin: 15%;
        align-items: center;
        text-align: center;
        height: 1050px;
    }    

    .description-me {
        font-size: 29px;
        font-family: open sans;
        height: 350px;
        width: 350px;
        min-width: 200px;
        margin: 3rem;
    }
    
}