.contact {
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 4rem;
    font-family: open sans;
    background-color: black;
}

.contact-link{
    padding: 2rem;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    width: 200px;
}

.contact p{
    font-size: 30px;
    display: flex;
    justify-content: center;
    width: 700px;

} 

.contact spam{
    color: red;
}

.icon{
    animation: float 3s ease-in-out infinite;
    display: flex;
}

.icon:nth-child(2){
    animation-delay: .3s;
}

.icon:last-child {
    animation-delay: .5s;
}

@keyframes float{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0);
    }
}

.whats {
    margin-left: 1rem;
}

.git {
    margin-right: 1rem;
}